.feedback {
    position: relative;
    background: linear-gradient(#18191a, #2a2b2d);
}

.feedback_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2rem;
    height: 100vh;
}

.feedback_container h2 {
    color: white;
    font-weight: 100;
}

.bd_section {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

@media (max-width: 1000px) {
    .bd_section {
        flex-direction: column;
        height: auto;
    }
}


.fb_bg {
    position: absolute;
    left: 25%;
    width: 350px;
    height: 350px;
    top: 25%;
    transform: translate(-50%,-50%);
    animation: rotate 25s infinite linear;
}

.feedback_input {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    gap: 1rem;
    padding: 3rem;
    position: relative;
    justify-content: center;
    transition: border-bottom-color 0.3s ease;
}

.fb_img {
    height: 90px;
    width: 90px;
}

.feedback_input h3 {
    font-weight: 100;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.feedback_input div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.feedback_input button {
    position: relative;
    width: 100%;
    padding: 16px;
    border-radius: 9px;
    transition: all 0.2s ease-in;
    border: none;
    background: linear-gradient(to right, #18191a, #ff6d49);
    color: white;
    cursor: pointer;
    transform: translateY(20px);
    font-size: 1.1rem;
    box-shadow: 0px 0px 9px rgb(206, 106, 106);
&:hover{
    box-shadow: 0px 0px 16px rgb(206, 106, 106);
    opacity: 0.8 ;
}}

.feedback_input input {
    height: 55px;
    padding: 9px;
    font-size: 1rem;
    color: white;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid silver;
}

.feedback_input textarea {
    height: 100px;
    width: 400px;
    color: white;
    padding: 9px;
    font-size: 1rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid silver;
}

.feedback_input input:focus {
    border-bottom-color: red;
}

.feedback_input textarea:focus {
    border-bottom-color: red;
}

.fb_text_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: white;
    text-align: center;
}

.fb_text_section h2 {
    font-size: 2rem;
    font-weight: 300;
}

.fb_text_section h3 {
    font-size: 1.7rem;
    font-weight: 100;
}

.loading_section {
    position: relative;
}

.loading-animation_form {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 24px;
  position: absolute;
  height: 24px;
  animation: spinform 1s linear infinite;
}

@keyframes spinform {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}