.mainbody {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: auto;
    background: linear-gradient(#18191a, #000000);
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

.mainbody_textsection {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    max-width: 800px;
}

.mainbody h3 {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
    opacity: 0.7;
}

.mainbody strong {
    font-size: 3rem;
    font-weight: 900;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to right, #ce3925, #6885bb); /* Green to Yellow */
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.mainbody button {
    border-radius: 20px;
    border: none;
    width: 200px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    height: 50px;
    background-color: #f53484;
    color: white;
    font-size: 1rem;
    position: relative;
    z-index: 2;
    font-family: 900;
&:hover{
    background-color: #c5447a;
}}

.bg1 {
    background: linear-gradient(#ce3925, #690b0b);
    width: 600px;
    height: 600px;
    position: absolute;
    border-radius: 50%;
    top: 1%;
    left: 0;
    opacity: 0.3;
    filter: blur(50px);
}

@keyframes turning {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.bg2 {
    background: linear-gradient(#3481f5, #6e289c, #34f5db);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    right: 0;
    filter: blur(50px);
    opacity: 0.2;
}

@keyframes fadeInFromLeft {
    0% {
        transform: translateX(-30rem);
    }
    100% {
        transform: translateY(0);
    }
}

.games__section {
  height: 50vh;
  background: linear-gradient(black, #18191a);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px;
  transition: all 0.2s ease-in;
  overflow: hidden;
  justify-content: start;
}

.game__section_ {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.games__section .loadedtext {
    opacity: 1;
    transform: translate(50px);
}

.games__section a {
  position: relative;
  color: white;
  font-size: 2rem;
  opacity: 0;
  transition: all 0.5s ease-in;
  transform: translate(-300px);
}

.games__section a::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background-color: orange;
  transition: width 0.5s ease-in-out;
}

.games__section a:hover {
  color: orange;
}

.games__section a:hover::after {
  width: 100%;
}

/* ecosystem*/
.ecosystem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: relative;
}

.ecosystem h2 {
    color: white;
    background-color: transparent;
    padding: 16px;
    border-radius: 12px;
    white-space: nowrap;
    font-weight: 100;
    box-shadow: 0px 0px 9px white;
}

.ecoline {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #919196, rgb(130, 226, 229), #222424);
}

.ecosystem_cont img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    animation: switching 4s infinite linear;
    
}

.eco_cont_pic {
    border: 1px solid silver;
    border-radius: 50%;
}

@keyframes switching {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.ecosystem_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 20px;
}

.bluestamp {
    height: 250px;
    width: 250px;
    position: absolute;
    left: 75%;
    top: -100%;
    transform: translate(-50%,-50%);
    filter: blur(50px);
    opacity: 0.4;
    background: linear-gradient(rgb(48, 101, 114), rgb(67, 146, 142), rgb(110, 75, 206));
}

.bluestamp2 {
    height: 400px;
    width: 400px;
    position: absolute;
    right: 70%;
    top: -300%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    filter: blur(50px);
    opacity: 0.4;
    background: linear-gradient(rgb(114, 63, 48), rgb(196, 93, 182), rgb(206, 154, 75));
}

/* LAST SECTION*/
.last_section {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 60vh;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .last_section {
        flex-direction: column;
        height: 140vh;
    }
}

.last_section_one {
    position: relative;
}

@keyframes pouncing {
    0%{
        transform: translate(-50%,-50%) translate(0px);
    }
    50%{
        transform: translate(-50%,-50%) translateY(45px);
    }75%{
        transform: translate(-50%,-50%) translateY(15px);
    }100%{
        transform: translate(-50%,-50%) translate(0px);
    }
}

.last_section h2 {
    font-weight: 400;
    z-index: 3;
    position: relative;
    font-size: 1.5rem;
    white-space: nowrap;
}

.div1 {
    height: 200px;
    width: 200px;
    position: absolute;
    background: linear-gradient(yellow, green, white);
    filter: blur(35px);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    border-radius: 50%;
    opacity: 0.5;
    animation: pouncing 5s infinite linear;
}

.div2 {
    height: 200px;
    width: 200px;
    position: absolute;
    background: linear-gradient(rgb(67, 107, 114), rgb(142, 99, 146), rgb(164, 216, 216));
    left: 50%;
    filter: blur(35px);
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    border-radius: 50%;
    opacity: 0.5;
    animation: pouncing 5s infinite linear;
}

.div3 {
    height: 200px;
    width: 200px;
    position: absolute;
    background: linear-gradient(yellow, green, white);
    left: 50%;
    filter: blur(35px);
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    border-radius: 50%;
    opacity: 0.5;
    animation: pouncing 5s infinite linear;
}

